# Dependencias del proyecto
crewai[google-genai]
crewai-tools
fastapi
uvicorn
requests
python-dotenv
langchain-community
langchain-nvidia-ai-endpoints
langchain-google-genai
google-generativeai
litellm
pydantic>=2.0.0
supabase
beautifulsoup4